.App{
    position: absolute; 
    height: 100vh;
    background-color: antiquewhite;
    overflow: scroll;

}
i{
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
button{
    background-color: white;
    border: none;
}