html{
  scroll-behavior: smooth;
  
}

body {

  margin: 0;
  height: 100vh;
  background: #ffffff;
 

}
@media screen and (min-width:1300px){
  body {
  width: 1300px ;
margin-left: calc((100% -  1300px)/2);

  }
}